
/*
http://ethanschoonover.com/solarized
$base03: #002b36;
$base02: #073642;
$base01: #586e75;
$base00: #657b83;
$base0: #839496;
$base1: #93a1a1;
$base2: #eee8d5;
$base3: #fdf6e3;
$yellow: #b58900;
$orange: #cb4b16;
$red: #dc322f;
$magenta: #d33682;
$violet: #6c71c4;
$blue: #268bd2;
$cyan: #2aa198;
$green: #859900;
*/

html {
    /* force a scrollbar to avoid jumps with short pages */
    overflow-y: scroll;
}

body {
    background: #ffffff;
    
    /* this is the text-align hack, see above */
    text-align: center;
    
    margin:  0px 0px 0px 0px;
    padding: 0px 0px 20px 0px;
    
    font-size: 85%;
    line-height: 1.5em;
    font-family: Arial,Sans-serif;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

.header {
    text-align: left;
    background: #073642; /*#fdf6e3;*/
    color: #cb4b16;
    padding:         5px   10px  5px  10px;
    font-size: 150%;
    font-family: Arial;
    font-weight: bold;
}

.navbar {
    float: left;
    width: 1000px;
    background: #000;
}

.navbar ul {
    margin: 0px;
    padding: 0px;
}

.navbar ul li {
    list-style-type: none;
    display: block;
    float: left;
    padding: 5px 10px;
    color: #fff;
    text-decoration: none;
    border-right: 1px solid #fff;
}

.content {
    width: 1000px;
    float: left;
}

.leftcol {
    float: left;
    width: 180px;
    padding: 0px 10px;
    margin: 0px 0px;
    background: #fdf6e3;
    text-align:  left;
    line-height: 1.2em;
}

.leftcol h2 {
    font-size: 120%;
    margin-top: 30px;
}

.leftcol ul {
    list-style-type: none;
    margin: 0px 0px;
    padding: 0px 0px;
}

.leftcol ul li {
    margin: 0px 0px;
    padding: 0px 0px;
}

.midcol {
    float: left;
    width: 558px;
    padding: 0px 20px;
    margin: 0px 0px;
    text-align: left;
    /*border-width: 0px 1px 1px 1px;
    border-style: solid;*/
}

.rightcol {
    float: right;
    width: 180px;
    padding: 0px 10px;
    margin: 0px 0px;
    background: #fdf6e3;
    text-align:  left;
    line-height: 1.2em;
}

.rightcol h2 {
    font-size: 120%;
    margin-top: 30px;
}

.rightcol ul {
    list-style-type: none;
    margin: 0px 0px;
    padding: 0px 0px;
}

.rightcol ul li {
    margin: 0px 0px;
    padding: 0px 0px;
}

a:link {
    color: #268bd2;
}

a:visited {
    color: #6c71c4;
}

div.example {
    background: #eee8d5;
    padding: 0px 5px;
    margin: 30px 0px;
}

div.exampleInner {
    display: none;
    min-height: 330px;
}

canvas {
    border: 1px solid black;
}

.canvasContainer {
    width: 350px;
    display: inline-block;
}

.figureCaption {
    width: 400px;
    display: inline-block;
}

.canvasExplanation {
    font-size: 60%;
    padding: 0px;
    margin: 0px;
}

p.example {
    margin-top: 0px;
    margin-bottom: 0px;
}

p.example strong {
    color: #6c71c4;
}

p.warning strong {
    color: #dc322f;
}

table.exampleInner {
    margin-top: 20px;
}

div.solution {
    display: none;
    background: #fdf6e3;
}

div.exampleCanvas {
    float: right;
    background: #eee8d5;
    margin-left: 10px;
    margin-bottom: 10px;
}
