
html {
    /* force a scrollbar to avoid jumps with short pages */
    overflow-y: scroll;
}

body {
    background: #ffffff; /* #d0d0d0; */
    
    /* this is the text-align hack, see above */
    text-align: center;
    
    margin:  0px 0px 0px 0px;
    padding: 0px 0px 20px 0px;
    
    font-size: 85%;
    line-height: 1.5em;
    font-family: Arial,Sans-serif;
}

.container {
    width: 1000px;
    margin: 0 auto;
    background: #ffffff;
}

div.header {
    background-color: #f0f0f0;
}

.header {
    text-align: left;
    color: #00688b;
    padding:         5px   10px  5px  10px;
    font-size: 150%;
    font-family: Arial;
    font-weight: bold;
}

.navbar {
    float: left;
    width: 1000px;
    background: #333;
}

.navbar ul {
    margin: 0px;
    padding: 0px;
}

.navbar ul li {
    list-style-type: none;
    display: block;
    float: left;
    padding: 5px 10px;
    color: #fff;
    text-decoration: none;
    border-right: 1px solid #fff;
}

.content {
    width: 1000px;
    float: left;
    background: #ffffff;
}

.leftcol {
    float: left;
    width: 180px;
    padding: 0px 10px;
    margin: 0px 0px;
    background: #f0f0f0;
    text-align:  left;
    line-height: 1.2em;
}

.leftcol h2 {
    font-size: 120%;
    margin-top: 30px;
}

.leftcol ul {
    list-style-type: none;
    margin: 0px 0px;
    padding: 0px 0px;
}

.leftcol ul li {
    margin: 0px 0px;
    padding: 0px 0px;
}

.midcol {
    float: left;
    width: 558px;
    padding: 0px 20px;
    margin: 0px 0px;
    background: #ffffff;
    text-align: left;
    border-width: 0px 1px 1px 1px;
    border-style: solid;
}

.rightcol {
    float: right;
    width: 180px;
    padding: 0px 10px;
    margin: 0px 0px;
    background: #f0f0f0;
    text-align:  left;
    line-height: 1.2em;
}

.rightcol h2 {
    font-size: 120%;
    margin-top: 30px;
}

.rightcol ul {
    list-style-type: none;
    margin: 0px 0px;
    padding: 0px 0px;
}

.rightcol ul li {
    margin: 0px 0px;
    padding: 0px 0px;
}

a:link {
    color: #236b8e;
}

a:visited {
    color: #325c74;
}
